[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "lib/fprime-zephyr"]
	path = lib/fprime-zephyr
	url = https://github.com/fprime-community/fprime-zephyr.git
[submodule "lib/fprime-billee"]
	path = lib/fprime-billee
	url = https://github.com/LucaLanzi/fprime-billee.git
